<launch>
  <node 
    name="youbot_tl_test" 
    pkg="youbot_tl_test" 
    type="youbot_tl_test" 
    respawn="true"
    output="screen" />
    <node 
    name="web_video_server" 
    pkg="web_video_server" 
    type="web_video_server" 
    respawn="true"
    />

	<node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="true" output="screen">
  
    <!-- Starts up faster, but timestamps will be inaccurate. --> 
    <param name="calibrate_time" type="bool" value="true"/> 
    
    <!-- Set the port to connect to here -->
    <param name="port" type="string" value="/dev/ttyACM0"/> 
  
    <param name="intensity" type="bool" value="true"/>
  </node>
  
  <include file="$(find openni2_launch)/launch/openni2.launch"/>
 <!-- <include file="$(find find_object_2d)/launch/find_object_2d.launch"/>-->
  <!--<include file="$(find youbot_driver_ros_interface)/launch/youbot_driver.launch"/>-->
</launch>
